*{
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.adminlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background: #f6f9ff; */
    flex-direction: column;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.adminlogin .form-container{
    width: 370px;
    background: #fff;
    padding: 50px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    margin-bottom: 10px;
}

.adminlogin .form-container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.adminlogin .form-container .title h2{
    color: rgb(17, 16, 16);
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.adminlogin .form-container .title p{
    font-size: 14px;
    color: #444444;
    text-align: center;
}

.adminlogin .form-container .input-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.adminlogin .form-container .input-field label{
    color: #444444;
    font-size: 14px;
}

.adminlogin .form-container .input-field input{
    border-radius: 5px;
    border: 1px solid silver;
    padding: 6px 12px;
    font-size: 16px;
}

.adminlogin .form-container .check-box{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.adminlogin .form-container .check-box label{
    font-size: 14px;
    color: #444444;
}

.adminlogin .form-container button{
    width: 100%;
    border: none;
    background: #0d6efd;
    color: #fff;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
}

.adminlogin .form-container button:hover{
    background: #0b5acf;
}

.adminlogin p{
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.5;
}

@media (max-width: 1200px){
    .adminlogin{
        padding: 0 20px;
    }
    .adminlogin .form-container{
        width: 100%;
    }
}