:root{
    --font-header: 36px;
    --font-regular: 16px;
    --font-semi-regular: 20px;
    --font-semi-header: 26px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poor Story', cursive;
}

img{
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
}

header .header-arrange{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

header .header-arrange p{
    color: #fff;
    font-size: var(--font-header);
}

header .header-arrange ul{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    padding: 0 40px 0 0;
}

header .header-arrange ul li{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-arrange i{
    color: #fff;
    width: 20px;
    height: 20px;
    display: none;
}

@media (max-width: 840px){
    header .header-arrange i{
        display: block;
    }
    header .header-arrange ul{
        position: absolute;
        top: 80px;
        flex-direction: column;
        width: 100%;
        background: #000;
        left: 0;
        padding: 40px 20px;
    }
    header .header-arrange ul li{
        padding: 10px 0;
        border-radius: 10px;
    }
    header .header-arrange ul li:hover{
        background: rgb(255, 255, 255);
        color: #000;
    }
}

main{
    padding: 40px 20px;
    width: min(1600px, 100%);
    height: calc(100vh - 80px - 80px);
    margin: auto;
}

main .path p{
    font-size: var(--font-semi-header);
}

main .path{
    margin-bottom: 40px;
}

main .main-detail{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

main .main-detail > *{
    height: 100%;
    border: 1px solid black;
}

main .main-detail .left-side{
    flex: 3;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

main .main-detail .left-side .box{
    border: 1px solid silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: #fff;
}

.active{
    background-color: #88CD87;
}

.busy{
    background-color: #A83B3B;
}

.waiting{
    background-color: #959658;
}

main .main-detail .right-side{
    flex: 1;
    padding: 20px 20px;
}

main .main-detail .right-side h4{
    font-size: var(--font-semi-regular);
}

main .main-detail .right-side .info{
    padding: 20px 10px;
    font-size: var(--font-regular);
}

@media (max-width: 840px){
    main .main-detail{
        flex-direction: column;
    }
    main .main-detail > *{
        width: 100%;
    }
}