<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poor+Story&display=swap" rel="stylesheet">
    <link href="../css/Order.css" rel="stylesheet">
    <link href="../css/recept.css" rel="stylesheet">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
</head>
<body>
    <header>
        <div class="header-arrange">
            <p>GIC CAFE SHOP</p>
            <ul>
                <li><a href="/giccafe/homepage" style="color: #fff;">HOME</a></li>
                <li><a href="/giccafe/table" style="color: #fff;">TABLE</a></li>
                <li><a href="/logout" style="color: #fff;">LOGOUT</a></li>
            </ul>
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>                  
            </i>
        </div>
    </header>
    <main id = "ord">
        <div>
           
        </div>
        <div class="container">
            <div class="flex-container">
                <div class="flex-child ">
                     <div class="wrapper">
                       <div class="item" style="cursor:pointer" id="cool" >Hot drink</div>
                       <div class="item" style="cursor:pointer" id="hot" >Cool Coffee</div>
                       <div class="item" style="cursor:pointer" id="frappe" >Frappes</div>
                       <div class="item" style="cursor:pointer" id="food" >Food</div>
                    </div>
    
                        
                      
                    <div class="Menu">
                        <div th:each="hotdrink: ${hotdrinks}">
                            <img class="img1" th:src="@{'http://localhost:8080/drinkimage/' + ${hotdrink.image_path}}">
                            <div>
                                <p id="price" th:text="${hotdrink.price}"></p>
                                <button class="order_drink" id="order_btn" th:onclick="|SelectOption('${hotdrink.id}',1,this)|" th:text="${hotdrink.drinkname}"></button>
                                <div class="Option_popup" id="myOption1">
                                    <div class="Option_Container">
                                        <h1>Choose Your option</h1>
                                        <div>
                                          <Label for="Size"><b>Size</b></Label>
                                          <input type="radio" id="lang-1" name="lang" value="HTML" class="radio" checked>
                                          <label class="label label-1" for="lang-1" onclick="setsize('R')">R</label>
                                                
                                          <input type="radio" id="lang-2" name="lang" value="CSS" class="radio">
                                          <label class="label label-2" for="lang-2" onclick="setsize('L')">L</label>
                                                
                                          <input type="radio" id="lang-3" name="lang" value="JavaScript" class="radio">
                                          <label class="label label-3" for="lang-3" onclick="setsize('G')">G</label>     
                                        </div>
                                        <div>
                                            <div style="margin-top: 20px;">
                                                <label for="Cream"><b>Cream</b></label>
                                                <input type="checkbox" onclick="setcream()" id="Cream" name="Cream" value="Cream">
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="sugar"><b>Sugar</b></label>
                                                <!-- <input type="text"  name="email" required> -->
                                                <select id="Sugar" name="Sugar">
                                                    <option value="10%" >10%</option>
                                                    <option value="20%" >20%</option>
                                                    <option value="50%" >50%</option>
                                                    <option value="75%" >75%</option>
                                                    <option value="100%" >100%</option>
                                                </select>
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="Zone"><b>Zone</b></label>
                                                <!-- <input type="text" name="psw" required> -->
                                                <select id="Zone" name="Zone">
                                                    <option value="a">A</option>
                                                    <option value="b">B</option>
                                                    <option value="c">C</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label>Quantity </label>
                                                <input id="Quantity" min="0" type="number" style="width: 100px; border: none; height: 20px;">
                                            </div>
                                        </div>
                                        <div style="margin-top: 20px; float: right;">
                                            <button type="submit" class="btn" onclick=setDetail(1)>OK</button>
                                            <button type="button" class="btn cancel" onclick="closeForm(1)">Cancel</button>
                                        </div>
                        
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="drink">Ice Drink</button> -->
                        </div>
                    </div>

                    <div class="Menu">
                        <div th:each="cooldrink: ${cooldrinks}">
                            <img class="img1" th:src="@{'http://localhost:8080/drinkimage/' + ${cooldrink.image_path}}">
                            <div>
                                <p id="price" th:text="${frappedrink.price}"></p>
                                <button class="order_drink" id="order_btn" th:onclick="|SelectOption('${cooldrink.id}',2,this)|" th:text="${cooldrink.drinkname}"></button>
                                <div class="Option_popup"id="myOption2">
                                    <div class="Option_Container">
                                        <h1>Choose Your option</h1>
                                        <div>
                                          <Label for="Size"><b>Size</b></Label>
                                          <input type="radio" id="lang-1" name="lang" value="HTML" class="radio" checked>
                                          <label class="label label-1" onclick="setsize('R')" for="lang-1">R</label>
                                                
                                          <input type="radio" id="lang-2" name="lang" value="CSS" class="radio">
                                          <label class="label label-2" for="lang-2" onclick="setsize('L')" >L</label>
                                                
                                          <input type="radio" id="lang-3" name="lang" value="JavaScript" class="radio">
                                          <label class="label label-3" for="lang-3" onclick="setsize('G')">G</label>     
                                        </div>
                                        <div>
                                            <div style="margin-top: 20px;">
                                                <label for="Cream" onclick="setcream(true)"><b>Cream</b></label>
                                                <input type="checkbox" id="Cream" onclick="setcream()" name="Cream" value="Cream">
                            
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="sugar"><b>Sugar</b></label>
                                                <!-- <input type="text"  name="email" required> -->
                                                <select id="Sugar" name="Sugar">
                                                    <option value="10%">10%</option>
                                                    <option value="20%">20%</option>
                                                    <option value="50%">50%</option>
                                                    <option value="75%">75%</option>
                                                    <option value="100%">100%</option>
            
                                                    </select>
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="Zone"><b>Zone</b></label>
                                                <!-- <input type="text" name="psw" required> -->
                                                <select id="Zone" name="Zone">
                                                    <option value="a">A</option>
                                                    <option value="b">B</option>
                                                    <option value="c">C</option>
                                                    </select>
                                            </div>
                                            <div>
                                                <label>Quantity </label>
                                                <input id="Quantity" min="0" type="number" style="width: 100px; border: none; height: 20px;">
                                            </div>
                                            
                                        </div>
                                        <div style="margin-top: 20px; float: right;">
                                            <button type="submit" class="btn" onclick=setDetail(2)>OK</button>
                                            <button type="button" class="btn cancel" onclick="closeForm(2)">Cancel</button>
                                        </div>
                        
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="drink">Ice Drink</button> -->
                        </div>
                    </div>

                    <div class="Menu">
                        <div th:each="frappedrink: ${frappedrinks}">
                            <img class="img1" th:src="@{'http://localhost:8080/drinkimage/' + ${frappedrink.image_path}}">
                            <div>
                                <p id="price" th:text="${frappedrink.price}"></p>
                                <button class="order_drink" id="order_btn" th:onclick="|SelectOption('${frappedrink.id}',3,this)|" th:text="${frappedrink.drinkname}"></button>
                                <div class="Option_popup" id="myOption3">
                                    <div class="Option_Container">
                                        <h1>Choose Your option</h1>
                                        <div>
                                          <Label for="Size"><b>Size</b></Label>
                                          <input type="radio" id="lang-1" name="lang" value="HTML" class="radio" checked>
                                          <label class="label label-1" onclick="setsize('R')" for="lang-1">R</label>
                                                
                                          <input type="radio" id="lang-2" name="lang" value="CSS" class="radio">
                                          <label class="label label-2" for="lang-2" onclick="setsize('L')" >L</label>
                                                
                                          <input type="radio" id="lang-3" name="lang" value="JavaScript" class="radio">
                                          <label class="label label-3" for="lang-3" onclick="setsize('G')">G</label>     
                                        </div>
                                        <div>
                                            <div style="margin-top: 20px;">
                                                <label for="Cream" onclick="setcream(true)"><b>Cream</b></label>
                                                <input type="checkbox" id="Cream" onclick="setcream()" name="Cream" value="Cream">
                            
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="sugar"><b>Sugar</b></label>
                                                <!-- <input type="text"  name="email" required> -->
                                                <select id="Sugar" name="Sugar">
                                                    <option value="10%">10%</option>
                                                    <option value="20%">20%</option>
                                                    <option value="50%">50%</option>
                                                    <option value="75%">75%</option>
                                                    <option value="100%">100%</option>
            
                                                    </select>
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="Zone"><b>Zone</b></label>
                                                <!-- <input type="text" name="psw" required> -->
                                                <select id="Zone" name="Zone">
                                                    <option value="a">A</option>
                                                    <option value="b">B</option>
                                                    <option value="c">C</option>
                                                    </select>
                                            </div>
                                            <div>
                                                <label>Quantity </label>
                                                <input id="Quantity" min="0" type="number" style="width: 100px; border: none; height: 20px;">
                                            </div>
                                            
                                        </div>
                                        <div style="margin-top: 20px; float: right;">
                                            <button type="submit" class="btn" onclick=setDetail(3)>OK</button>
                                            <button type="button" class="btn cancel" onclick="closeForm(3)">Cancel</button>
                                        </div>
                        
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="drink">Ice Drink</button> -->
                        </div>
                    </div>

                    <div class="Menu">
                        <div th:each="food: ${foods}">
                            <img class="img1" th:src="@{'http://localhost:8080/drinkimage/' + ${food.image_path}}">
                            <div>
                                <p id="price" th:text="${food.price}"></p>
                                <button class="order_drink" id="order_btn" th:onclick="|SelectOption('${food.id}',4,this)|" th:text="${food.drinkname}"></button>
                                <div class="Option_popup" id="myOption4">
                                    <div class="Option_Container">
                                        <h1>Choose Your option</h1>
                                        <div>
                                          <Label for="Size"><b>Size</b></Label>
                                          <input type="radio" id="lang-1" name="lang" value="HTML" class="radio" checked>
                                          <label class="label label-1" onclick="setsize('R')" for="lang-1">R</label>
                                                
                                          <input type="radio" id="lang-2" name="lang" value="CSS" class="radio">
                                          <label class="label label-2" for="lang-2" onclick="setsize('L')" >L</label>
                                                
                                          <input type="radio" id="lang-3" name="lang" value="JavaScript" class="radio">
                                          <label class="label label-3" for="lang-3" onclick="setsize('G')">G</label>     
                                        </div>
                                        <div>
                                            <div style="margin-top: 20px;">
                                                <label for="Cream" onclick="setcream(true)"><b>Cream</b></label>
                                                <input type="checkbox" id="Cream" onclick="setcream()" name="Cream" value="Cream">
                            
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="sugar"><b>Sugar</b></label>
                                                <!-- <input type="text"  name="email" required> -->
                                                <select id="Sugar" name="Sugar">
                                                    <option value="10%">10%</option>
                                                    <option value="20%">20%</option>
                                                    <option value="50%">50%</option>
                                                    <option value="75%">75%</option>
                                                    <option value="100%">100%</option>
            
                                                    </select>
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <label for="Zone"><b>Zone</b></label>
                                                <!-- <input type="text" name="psw" required> -->
                                                <select id="Zone" name="Zone">
                                                    <option value="a">A</option>
                                                    <option value="b">B</option>
                                                    <option value="c">C</option>
                                                    </select>
                                            </div>
                                            <div>
                                                <label>Quantity </label>
                                                <input id="Quantity" min="0" type="number" style="width: 100px; border: none; height: 20px;">
                                            </div>
                                            
                                        </div>
                                        <div style="margin-top: 20px; float: right;">
                                            <button type="submit" class="btn" onclick=setDetail(4)>OK</button>
                                            <button type="button" class="btn cancel" onclick="closeForm(4)">Cancel</button>
                                        </div>
                        
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="drink">Ice Drink</button> -->
                        </div>
                    </div>


                </div>

                <div class="flex-child ">
                    
                        <div class="order">
                            <div class="Title">
                                <h1 style="font-size: 50px;">Order Information</h1>
                            </div>
                            <div class="listing" id="list">
                                
                            </div>
                        </div>
                        <div class="order">
                            <button type="button" id = "confirm_button">Confirm Order</buttom>
                        </div>
                    
                </div>

            </div>

        </div>
        
    </main>
    <main id = "rec">
        <div class="path">
            <p>COFFEE TABLE</p>
        </div>
        <div class="main-detail">
            <div class="left-side">
                <div class="brand-name">
                    <h1>GIC CAFE SHOP</h1>
                    <p>Coffee and bakery</p>
                </div>
                <div class="part">
                    <p>Order Number: 168</p>
                </div>
                <div class="part">
                    <p>Address: gic street 101, gic capital, gic town</p>
                </div>
                <div class="part">
                    <p>Address: gic street 101, gic capital, gic town</p>
                </div>
                <div class="calculate-part">
                    <div class="b-part" id="description">
                        <h4>Description</h4>
                        <p>Armericano Frapp</p>
                        <p>Cappucino Frapp</p>
                    </div>
                    <div class="s-part" id="qt">
                        <h4>Quantity</h4>
                        <p>1</p>
                        <p>2</p>
                        <p>Sub Total</p>
                        <p style="text-align: start; margin-top: 40px">Grand Total($)</p>
                        <p style="text-align: start">Grand Total(R)</p>
                        <hr>
                    </div>
                    <div class="s-part" id="un">
                        <h4>Unit Price</h4>
                        <p>3.15</p>
                        <p>3.15</p>
                    </div>
                    <div class="s-part" id="am">
                        <h4>Amount</h4>
                        <p>3.15</p>
                        <p>6.30</p>
                        <p>9.45</p>
                        <p style="text-align: start; margin-top: 40px">9.45</p>
                        <p style="text-align: start">21,000</p>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <form id="ordering" method="post" style="width: 100%">
                    <button style="width: 100%" type="submit">CONFIRM PRINT RECEPT</button>
                </form>
                <button id="cancel_order">CANCEL PRINT RECEPT</button>
                <div class="ip" style="display:flex; flex-direction: column;">
                    <div style="margin-top: 20px;">
                        <label for="sugar"><b>Table no</b></label>
                        <!-- <input type="text"  name="email" required> -->
                        <select id="s-table" name="s-table">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="s-zone"><b>Zone</b></label>
                        <!-- <input type="text" name="psw" required> -->
                        <select id="s-zone" name="Zone">
                            <option value="a">A</option>
                            <option value="b">B</option>
                            <option value="c">C</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../javascript/order.js"></script>
</body>
</html>