<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="recept.css">
</head>
<body>
    <header>
        <div class="header-arrange">
            <p>GIC CAFE SHOP</p>
            <ul>
                <li>HOME</li>
                <li>TABLE</li>
                <li>LOGOUT</li>
            </ul>
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>                  
            </i>
        </div>
    </header>
    <main id="rec">
        <div class="path">
            <p>COFFEE TABLE</p>
        </div>
        <div class="main-detail">
            <div class="left-side">
                <div class="brand-name">
                    <h1>GIC CAFE SHOP</h1>
                    <p>Coffee and bakery</p>
                </div>
                <div class="part">
                    <p>Order Number: 168</p>
                </div>
                <div class="part">
                    <p>Address: gic street 101, gic capital, gic town</p>
                </div>
                <div class="part">
                    <p>Address: gic street 101, gic capital, gic town</p>
                </div>
                <div class="calculate-part">
                    <div class="b-part">
                        <h4>Description</h4>
                        <p>Armericano Frapp</p>
                        <p>Cappucino Frapp</p>
                    </div>
                    <div class="s-part">
                        <h4>Quantity</h4>
                        <p>1</p>
                        <p>2</p>
                        <p>Sub Total</p>
                        <p style="text-align: start; margin-top: 40px">Grand Total($)</p>
                        <p style="text-align: start">Grand Total(R)</p>
                        <hr>
                    </div>
                    <div class="s-part">
                        <h4>Unit Price</h4>
                        <p>3.15</p>
                        <p>3.15</p>
                    </div>
                    <div class="s-part">
                        <h4>Amount</h4>
                        <p>3.15</p>
                        <p>6.30</p>
                        <p>9.45</p>
                        <p style="text-align: start; margin-top: 40px">9.45</p>
                        <p style="text-align: start">21,000</p>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <button>CONFIRM PRINT RECEPT</button>
                <button>CANCEL PRINT RECEPT</button>
            </div>
        </div>
    </main>
</body>
</html>