<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
    <header>
        <div class="header-arrange">
            <p>GIC CAFE SHOP</p>
            <ul>
                <li>HOME</li>
                <li>TABLE</li>
                <li>LOGOUT</li>
            </ul>
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>                  
            </i>
        </div>
    </header>
    <main>
        <div class="path">
            <p>COFFEE TABLE</p>
        </div>
        <div class="main-detail">
            <div class="left-side">
                <div class="box active">01</div>
                <div class="box waiting">02</div>
                <div class="box active">03</div>
                <div class="box busy">04</div>
                <div class="box busy">05</div>
                <div class="box active">06</div>
                <div class="box waiting">07</div>
                <div class="box busy">08</div>
                <div class="box busy">09</div>
                <div class="box waiting">10</div>
                <div class="box busy">11</div>
                <div class="box busy">12</div>
            </div>
            <div class="right-side">
                <h4>TABLE INFORMATION</h4>
                <div class="info">
                    <p>Active: 16 tables</p>
                    <p>Waiting: 16 tables</p>
                    <p>Busy: 16 tables</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>